
table.about_me{
    margin: 1% 1%;
}

img{ 
    
    
    width: 260px;
    height: 300px;
    
}

h3 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif;font-size:15px; }

div.info{
    font-family: Arial, Helvetica, sans-serif;  
    margin: 10% 7%;
}

p.about_me{
  margin: 0% 3%; 
    font-style: italic
}

a:visited {
    color: #900060; 
}
